<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="image_2"><img src="images/commands.webp" class="img_fm"></div>
        </div>
        <div class="col-md-6">
          <h1 class="about_text">ABOUT</h1>
          <p class="lorem_text">We are a team of specialists providing gaming services focused on maximum comfort and value for players. Our expertise includes the creation and automation of farms, skins, as well as tailored solutions to meet each client's needs. We value your time and strive to deliver high-quality and secure services that make the gaming experience more engaging and efficient.</p>
        </div>
      </div>
     {% include "layouts/socialButtons.njk" %}
    </div>
  </div>
  <!-- about section end -->
  <!-- banner section end -->
