<!-- banner section start -->
<div class="banner_section layout_padding">
  <div class="container">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <h1 class="video_text">Sonic Store</h1>
              <h1 class="controller_text">Exclusive</h1>
              <p class="banner_text">We offer farm construction, auto shield, exclusive skins, pirate search, and more at unbeatable
                prices. Upgrade your experience now!</p>
            </div>
            <div class="col-md-6">
              <div class="image_1"><img src="images/banner_1.webp"> </div>
            </div>
          </div>
        </div>
        {# <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <h1 class="video_text">Video games</h1>
              <h1 class="controller_text">controller</h1>
              <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
              <div class="shop_bt">
                <a href="#">Shop Now</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image_1"><img src="images/banner_1.webp"> </div>
            </div>
          </div> #}
        </div>
      </div>
      <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
<!-- banner section end -->
<div class="div_ico">
  <a href="https://invite.viber.com/?g2=AQAg7OKfINjAylFf6Rthv%2F50a3KESRyk2KYTxfRvwqc1Y0YYtVEyIc6MaaJOFD8E"><div class="td_ico viber_ico"><img src="images/viber2.png" title="Call via Viber" class="img_ico"></div></a>
  <a href="https://t.me/+idWl2dg-bXZiMjIy"><div class="td_ico telegram_ico"><img src="images/telegram.png" title="Call via Telegram" class="img_ico"> </div></a>
  <a href="https://api.whatsapp.com/send/?phone=380669705860&text&type=phone_number&app_absent=0"><div class="td_ico whatsapp_ico"><img src="images/whatsapp.png" title="Call via Whatsapp" class="img_ico"> </div></a>
</div>