.banner_section.layout_padding
  .container
    #my_slider.carousel.slide(data-ride="carousel")
      .carousel-inner
        each val in [1, 2, 3]
          .carousel-item(class=(val == 1 ? "active" : ""))
            .row
              .col-md-6
                h1.video_text Video games
                h1.controller_text controller
                p.banner_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
                .shop_bt
                  a(href="#") Shop Now
              .col-md-6
                .image_1
                  img(src="images/img-1.png")
      a.carousel-control-prev(href="#my_slider", role="button", data-slide="prev")
        i.fa.fa-angle-left
      a.carousel-control-next(href="#my_slider", role="button", data-slide="next")
        i.fa.fa-angle-right