.contact_section.layout_padding
      .container
        .row
          .col-md-6
            .email_box
              .input_main
                .container
                  form(action="/action_page.php")
                    .form-group
                      input.email-bt(type="text", placeholder="Name", name="Name")
                    .form-group
                      input.email-bt(type="text", placeholder="Email", name="Email")
                    .form-group
                      input.email-bt(type="text", placeholder="Phone Number", name="Phone")
                    .form-group
                      textarea.massage-bt(placeholder="Message", rows="5", id="comment", name="Massage")
                .main_bt
                  a(href="#") SEND
          .col-md-6
            .image_6
              img(src="images/img-6.png")