<!-- DISCOVER section start -->
<div class="about_section layout_padding">
  <div class="container">
    <h1 class="about_text">DISCOVER NEW HORIZONS</h1>
    <p class="lorem_text">Take advantage of exclusive offers!</p>
    <div class="row">
      <div class="col-md-4">
        <div class="image_2"><img class="img_fm" src="images/dh_1.webp">
        </div>
        <div class="fm_title">Professional coordinate search</div>
        <div class="fm_text">In just a few minutes, we will scan the coordinates of a player, an entire alliance, or a whole state for you.
Purple tiles in ROC.</div>
      </div>
      <div class="col-md-4">
        <div class="image_2"><img class="img_fm" src="images/dh_2.webp">
        </div>
        <div class="fm_title">Unlock the province chapter with ease!</div>
        <div class="fm_text">Here are the items for opening a province chapter that will help you earn more learning points!</div>
      </div>
      <div class="col-md-4">
        <div class="image_2"><img class="img_fm" src="images/dh_3.webp">
        </div>
        <div class="fm_title">Skins</div>
        <div class="fm_text">In this section, you will find everything you need to enhance your account's attributes and customize its appearance, making it unique and memorable.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="fm_btn">
          <a href="" class="btn btn-success">MORE DETAILS</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fm_btn">
          <a href="" class="btn btn-success">MORE DETAILS</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fm_btn">
          <a href="" class="btn btn-success">MORE DETAILS</a>
        </div>
      </div>
    </div>
  </div>
  <!-- DISCOVER section end -->