<!-- Management section start -->
<div class="about_section layout_padding">
  <div class="container">
    <h1 class="about_text">FARM & MANAGEMENT</h1>
    <p class="lorem_text">The services in this section will help you grow without investment and save time without spending
      it on farms.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="image_2"><img class="img_fm" src="images/fm_1.webp">
        </div>
        <div class="fm_title">Farm</div>
        <div class="fm_text">Farms will help you grow without unnecessary investments — take the first step towards rapid
          growth!</div>
      </div>
      <div class="col-md-4">
        <div class="image_2"><img class="img_fm" src="images/fm_2.webp">
        </div>
        <div class="fm_title">Management</div>
        <div class="fm_text">We will take care of your farms so you can get the most resources.</div>
      </div>
      <div class="col-md-4">
        <div class="image_2"><img class="img_fm" src="images/fm_3.webp">
        </div>
        <div class="fm_title">Farm Rentals</div>
        <div class="fm_text">Why buy when you can get it for free?</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="fm_btn">
          <a href="" class="btn btn-success">MORE DETAILS</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fm_btn">
          <a href="" class="btn btn-success">MORE DETAILS</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fm_btn">
          <a href="" class="btn btn-success">MORE DETAILS</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Management section end -->