<!-- footer section start -->
<div class="section_footer ">
    <div class="container"> 
        <div class="footer_section_2">
          <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-3">
                <h2 class="account_text">About Us</h2>
                <p class="ipsum_text_2">We are a team of specialists providing gaming services focused on maximum comfort and value for players.</p>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <h2 class="account_text">Useful Link</h2>
                <div class="useful_link">
                  <ul>
                    <li><a href="/managment">Managment</a></li>
                    <li><a href="/farms">Farms</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
              <h2 class="account_text">Contact Us</h2>
              <p class="ipsum_text_2">For inquiries or support, feel free to email us at: <a href="mailto:support@example.com">support@example.com</a></p> 
<p class="ipsum_text_2">We're here to help with any questions or feedback you may have.</p>
              </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <h2 class="account_text">Newsletter</h2>
          <input type="" class="email_text" placeholder="Enter Your Email" name="Enter Your Email">
          <button class="subscribr_bt">SUBSCRIBE</button>
        </div>
      </div>
    </div>
    {% include "layouts/socialButtons.njk" %}
  </div>
</div>
<!-- footer section end -->