doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    title #{title||"Sonic Store"}
    meta(name="keywords", content="")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/responsive.css")
    link(rel="icon", href="images/fevicon.png", type="image/gif")
    link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
    link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet", href="css/owl.carousel.min.css")
    link(rel="stylesheet", href="css/owl.theme.default.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css", media="screen")
  
  body
    include header.pug
    block content
    
    // Footer Section
    include footer.pug
    
    // Copyright Section
    .copyright_section
      .container
        p.copyright_text Copyright 2020 All Right Reserved By 
          a(href="https://html.design/") Free html Templates
    
    // Scripts
    script(src="js/jquery.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.bundle.min.js")
    script(src="js/jquery-3.0.0.min.js")
    script(src="js/plugin.js")
    script(src="js/jquery.mCustomScrollbar.concat.min.js")
    script(src="js/custom.js")
    script(src="js/owl.carousel.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js")
    script.
      $(document).ready(function(){
        $(".fancybox").fancybox({
          openEffect: "none",
          closeEffect: "none"
        });
      });
