<div class="layout_padding">
  <div class="container">
     <div class="row pb-5">
      <div class="col-md-2"><img src="images/fm.webp" class="img_fm"></div>
      <div class="col-md-6">
        <h2 class="fm_title">STANDART management</h2>
        <p>The cost of managing one farm — 30 calendar days of complete management and optimization of your farm for just $2. Resources without the hassle!</p>
        </div>
      <div class="col-md-2"><span class="fm_price">$2</span></div>
      <div class="col-md-2">
        <div>
          <a href="">
            <button class="btn btn-success">MORE DETAILS</button>
          </a>
        </div>
      </div>
    </div>

     <div class="row pb-5">
      <div class="col-md-2"><img src="images/fm.webp" class="img_fm"></div>
      <div class="col-md-6">
        <h2 class="fm_title">VIP management</h2>
        <p>The cost of managing one farm — 30 calendar days of full support and optimization of your farm for just $4. Maximum resources with minimum effort!
+5 searches for player coordinates per month</p>
</div>
      <div class="col-md-2"><span class="fm_price">$4</span></div>
      <div class="col-md-2">
        <div>
          <a href="">
            <button class="btn btn-success">MORE DETAILS</button>
          </a>
        </div>
      </div>
    </div>

     <div class="row pb-5">
      <div class="col-md-2"><img src="images/fm.webp" class="img_fm"></div>
      <div class="col-md-6">
        <h2 class="fm_title">Manual control</h2>
        <p>Your farms are managed by a person.</p>
</div>
      <div class="col-md-2"><span class="fm_price">$7</span></div>
      <div class="col-md-2">
        <div>
          <a href="">
            <button class="btn btn-success">MORE DETAILS</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
