.product_section.layout_padding
      .container
        .product_text Our 
          span(style="color: #5ca0e9;") products
        p.long_text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        .product_section_2
          .row
            each price in [200, 300]
              .col-md-6
                .image_2
                  img(src="images/img-3.png")
                .price_text Price $ 
                  span(style="color: #3a3a38;") #{price}
                h1.game_text Video Game
                p.long_text It is a long established fact that a reader will be distracted...
        .see_main
          .see_bt
            a(href="#") See More