 <div class="div_ico">
  <a href="https://invite.viber.com/?g2=AQAg7OKfINjAylFf6Rthv%2F50a3KESRyk2KYTxfRvwqc1Y0YYtVEyIc6MaaJOFD8E"><div class="td_ico viber_ico"><img src="images/viber2.png" title="Call via Viber" class="img_ico"></div></a>
  <a href="https://t.me/+idWl2dg-bXZiMjIy"><div class="td_ico telegram_ico"><img src="images/telegram.png" title="Call via Telegram" class="img_ico"> </div></a>
  <a href="https://api.whatsapp.com/send/?phone=380669705860&text&type=phone_number&app_absent=0"><div class="td_ico whatsapp_ico"><img src="images/whatsapp.png" title="Call via Whatsapp" class="img_ico"> </div></a>
</div>