<!-- testimonial section start -->
<div class="testimonial_section layout_padding">
  <div class="container">
    <h1 class="testimonial_text">Our Clients Love Us</h1>
    <div class="testimonial_section_2">
      <div class="box_main">
        {# <div class="quote_icon"><img src="images/quote-icon.png"> </div> #}
        <div class="owl-carousel owl-theme">
          {% for review in reviews%}
          <div class="item">
            <table>
              <tr><td rowspan="3" class="logo_testimonial"><img src="{{ review.image }}"></td><td class="author_testimonial">{{ review.author }}<td></tr>
              <tr><td class="text_testimonial"><h4>{{ review.text }}</h4></td></tr>
            </table>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- testimonial section end -->
<script>
  var owl = $('.owl-carousel');
  owl.owlCarousel({
    items: 1,
    loop: true,
    margin: 50,
    autoplay: true,
    autoplayTimeout: 3000,
    autoplayHoverPause: true
  });
  $('.play').on('click', function () {
    owl.trigger('play.owl.autoplay', [1000])
  })
  $('.stop').on('click', function () {
    owl.trigger('stop.owl.autoplay')
  })
</script>