.testimonial_section.layout_padding
      .container
        h1.testimonial_text Testimonial
        p.ipsum_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        .testimonial_section_2
          .box_main
            .quote_icon
              img(src="images/quote-icon.png")
            p.dolor_text dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            .client_main
              .client_left
                .images_5
                  img(src="images/img-5.png")
              .client_right
                h1.sandy_text Sandy Delex
                p.sandy_text_1 Reprehenderit
        .see_main
          .see_bt
            a(href="#") See More