.video_section.layout_padding
      .container
        .row
          .col-md-6
            h1.video_text_2 3d video game
            h1.controller_text_2 remoto control
            p.banner_text_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            .shop_bt
              a(href="#") Shop Now
          .col-md-6
            .image_4
              img(src="images/img-4.png")