extends layouts/layout
block content 
    include layouts/banner.pug
    include layouts/about.pug
    include layouts/products.pug
    include layouts/video.pug
    include layouts/testimonial.pug
    include layouts/contact.pug