{% extends "layouts/layout.njk" %}

{% block content %}
{% include "layouts/banner.njk" %}
{% include "layouts/about.njk" %}
{% include "layouts/farmManagment.njk" %}
{% include "layouts/discoverNewHorizons.njk" %}
{% include "layouts/testimonial.njk" %}
{% include "layouts/contact.njk" %}
{% endblock %}

