{% extends "layouts/layout.njk" %}

{% block content %}
{% include "layouts/banner.njk" %}
{% include "layouts/about.njk" %}
{% include "layouts/products.njk" %}
{% include "layouts/video.njk" %}
{% include "layouts/testimonial.njk" %}
{% include "layouts/contact.njk" %}
{% endblock %}

